
  <header class="toolbar toolbar-header">
    <div class="grid-container">
      <div class="grid-item" class="title">DEMO SYSTEM</div>
      <div class="grid-item" class="title">DEMO SYSTEM</div>
      <div class="grid-item" class="title">DEMO SYSTEM</div>
    </div>
    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn-default btn-dropdown newwindow round">
          <span class="">New Window</span>
        </button>
      </div>
      <button class="btn btn-default ibot round">
        Ibot
      </button>
      <div class="pull-right">
        <button class="btn btn-default black round bold">
          AA
        </button>
        <button class="btn btn-default black round">
          Contact Us
        </button>
        <div class="small">
          Laylout Locked
          <span class="icon icon-lock"></span>
        </div>
        <div class="inline">
          <input type="text" placeholder="Help / Ticket Lookup" /><span
            class="icon icon-search"
          ></span>
        </div>
        <div class="inline">
          <span class="icon icon-infinity"></span>
        </div>
        <div class="inline">
          <span class="icon icon-feather"></span>
        </div>
        <div class="inline">
          <span class="white time">15:15:14</span>
        </div>
      </div>
    </div>
  </header>

